html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.content{
  flex-grow: 1;
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;

}

.layout__main-content {
  flex-grow: 1;
}



.table-header {
  background-color: #0040AE;
  color: #FFFFFF;
}
